.lu{
    background-color: rgb(13, 41, 83);
    display: flex;
    height: 235px;
    width: auto;

}

div{
    border: auto solid;
    padding: 10px; 
    width: auto; 
}

.ca{
    border: 1px solid;
   
}

.ca h6{
    color: black;
}

.imgeness{
     
    height: 100px;
    width: auto;

}

.footeres,h5 {
    padding-left: 3%;
    list-style-type: none;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    height: 80%;
    font-size: 1.0rem;
    color: black;
}

